{% extends "layout.html" %}

{% set active_page = "api" %}

{% block head_extra %}
    <style type="text/css">
        #advanced-link {
            display: inline-block;
            margin-bottom: 5px;
        }
        #auth-method-label, #method-label {
            margin-left: 10px;
        }
        .error {
            color: red;
        }
        .nav.nav-tabs {
            width: 100%;
            margin-bottom: 1em;
        }
        .form-group.switch label {
            margin-left: 5px;
        }
        .plus, .minus {
            cursor: pointer;
            font-size: larger;
            margin-left: 4px;
        }

        td.buttons {
            text-align: center;
        }
        td.buttons > button {
            margin: 0 4px 4px 0;
        }

    </style>

<script src="static/js/util.js?v={{ versions['util.js'] }}"></script>
<link rel="stylesheet" href="static/css/general.css?v={{ versions['general.css'] }}" />

    <script>
        const engines = [
        {% for engine in engines %}
            {
                eid: '{{ engine[0] }}',
                name: '{{ engine[1] }}',
                host: '{{ engine[2] }}',
                port: '{{ engine[3] }}',
                connection_properties: '{{ engine[4] }}'
            },
        {% endfor %}
        ];

    </script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-10 offset-1">
    <ul class="nav nav-tabs" id="tabs" roles="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" area-selected="true">API List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" area-selected="false">Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hidden" id="add2-tab" href="#add2" role="tab" aria-controls="add" area-selected="false">Add</a>
        </li>

    </ul>
    <div class="tab-content" id="tabs-tab-content">
        <div class="tab-pane fade show active" id="list" role="tabpanel" area-labelledby="list-tab">
            <h1>Available APIs</h1>
            <template id="api-template">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>API Name</th>
                            <th>Endpoint</th>
                            <th>Required Params</th>
                            <th>Optional Params</th>
                            <th>Sample Query</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </template>
            <div id="content-loading" class="loading"></div>
            <div class="content"></div>
        </div>
        <div class="tab-pane fade show" id="add" role="tabpanel" area-labelledby="add-tab">
            <h1 id="add-edit-title">Add API</h1>

            <div id="success" class="alert alert-success hidden" role="alert"></div>

            <div class="form-group switch">
                <h4>Type:</h4>
                <div class="checkbox">
                    <label>
                        <input type="radio" name="type" value="endpoint"> Endpoint Only
                    </label>
                    <label>
                        <input id="switch-api-endpoint" type="radio" name="type" value="api+endpoint"> API + Endpoint
                    </label>
                    <label>
                        <input type="radio" name="type" value="api"> API Only
                    </label>
                </div>
            </div>
            <div id="add-loading" class="loading"></div>
            <div id="error" class="alert alert-danger hidden" role="alert"></div>
            <form class="hidden" method="POST">
                <h4 id="fill-in">Please fill in the following parameters:</h4>
                <div class="form-group api hidden">
                    <label for="name" class="control-label">API Name:
                        <input type="text" class="form-control required" name="name" id="name" placeholder="twitter" pattern="[a-zA-Z0-9\-_]+"/>
                        <input type="hidden" name="eid" />
                    </label>
                    <span class="error"></span>
                </div>
                <div class="form-group endpoint not-api hidden">
                    <label for="engine_id" class="control-label">API:</label>
                    <span id="engine-loading" class="loading-small"></span>
                    <select name="engine_id" id="engine_id" class="form-control hidden required" style="width: 200px">
                        <option value="" selected="selected">Select:</option>
                    </select>
                </div>
                <div class="form-group endpoint hidden">
                    <label for="endpoint_name" class="control-label">Endpoint Name:
                        <input type="text" class="form-control required" name="endpoint_name" id="endpoint_name" data-name="name" placeholder="tweets" pattern="[a-zA-Z0-9\-_]+" />
                        <input type="hidden" name="dbid" />
                    </label>
                </div>
                <div class="form-group endpoint hidden">
                    <label for="url" class="control-label">URL:
                        <input type="url" pattern="https?://.+" class="form-control required" name="url" id="url" size="80" placeholder="https://api.twitter.com/1.1/search/tweets.json"/>
                        <input type="hidden" name="oid" />
                    </label>
                </div>

                <div class="form-group endpoint hidden">
                    <label for="result_key" class="control-label">Result Key (optional):
                        <br><span style="font-weight: normal"><em>(if set, bigdawg will use the below key to index into the results by default)</em></span>
                        <input type="text" class="form-control" name="result_key" id="result_key" size="80" placeholder="statuses"/>
                    </label>
                </div>

                <div class="form-group api hidden">
                    <h4>Method:</h4>
                    <div class="checkbox-inline method">
                        <label>
                            <input type="radio" name="method" data-type="connection_properties" class="required" value="GET"> GET
                        </label>
                        <label id="method-label">
                            <input type="radio" name="method" data-type="connection_properties" class="required" value="POST"> POST
                        </label>
                    </div>
                    <div class="checkbox-inline hidden post-encoding">
                        <h5><em>POST encoding:</em></h5>
                        <label>
                            <input type="radio" name="post_encoding" data-type="connection_properties" class="required" value="application/x-www-form-urlencoded"> application/x-www-form-urlencoded
                        </label>
                        <label>
                            <input type="radio" name="post_encoding" data-type="connection_properties" class="required" value="application/json"> application/json
                        </label>
                    </div>
                </div>

                <div class="form-group endpoint hidden">
                    <h4>Parameters:</h4>
                    <em>(These are expected query parameters)</em>
                    <h5>Required:</h5>
                    <div>
                        <div class="required_param">
                            <label>
                                <input type="text" data-skip-get="true" name="required_param_1" id="required_param_1">
                            </label>
                            <span class="plus">+</span>
                        </div>
                    </div>
                    <h5>Optional:</h5>
                    <div>
                        <div class="optional_param">
                            <label>
                                <input type="text" data-skip-get="true" name="optional_param_1" id="optional_param_1">
                            </label>
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>


                <div class="form-group api hidden">
                    <h4>Authentication:</h4>
                    <div class="checkbox">
                        <label>
                            <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="" checked="checked"> None
                        </label>
                        <label>
                            <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="basic"> Basic
                        </label>
                        <label>
                            <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="token"> Token
                        </label>
                        <label>
                            <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="bearer"> Authorization: Bearer <em>(token)</em>
                        </label>
                        <label>
                            <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="oauth1"> OAuth1
                        </label>
                        <label>
                            <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="oauth2"> OAuth2
                        </label>
                    </div>
                </div>

                <div id="auth-basic" class="hidden auth">
                    <div>
                        <label for="username" class="control-label">Username:
                            <input type="text" class="form-control required" name="username" data-type="connection_properties" id="username" size="20" placeholder="bones"/>
                        </label>
                    </div>
                    <div>
                        <label for="password" class="control-label">Password:
                            <input type="text" class="form-control required" name="password" data-type="connection_properties" id="password" size="30" placeholder="doghouse"/>
                        </label>
                    </div>
                </div>
                <div id="auth-token" class="hidden auth">
                    <div>
                        <label for="token" class="control-label">Token:
                            <input type="text" class="form-control required" name="token" data-type="connection_properties" id="token" size="20" placeholder="abcdef12345667890"/>
                        </label>
                    </div>
                    <div>
                        <label for="token_key" class="control-label">Token Key:
                            <input type="text" class="form-control" name="token_key" data-type="connection_properties" id="token_key" size="30" placeholder="token"/>
                        </label>
                    </div>
                </div>
                <div id="auth-bearer" class="hidden auth">
                    <div>
                        <label for="bearer_token" class="control-label">Token:
                            <input type="text" class="form-control required" name="bearer_token" data-type="connection_properties"  id="bearer_token" size="20" placeholder="abcdef12345667890"/>
                        </label>
                    </div>
                </div>
                <div id="auth-oauth1" class="hidden auth">
                    <div>
                        <label for="oauth1_consumer_key" class="control-label">Consumer Key:
                            <input type="text" class="form-control required" name="oauth1_consumer_key" data-name="consumer_key" data-type="connection_properties" id="oauth1_consumer_key" size="60" placeholder="ABCDEF12345"/>
                        </label>
                    </div>
                    <div>
                        <label for="oauth1_consumer_secret" class="control-label">Consumer Secret:
                            <input type="text" class="form-control required" name="oauth1_consumer_secret" data-name="consumer_secret" data-type="connection_properties" id="oauth1_consumer_secret" size="80" placeholder="54321ABCDEF"/>
                        </label>
                    </div>
                    <div>
                        <label for="oauth1_access_token" class="control-label">Access Token:
                            <input type="text" class="form-control required" name="oauth1_access_token" data-name="access_token" data-type="connection_properties" id="oauth1_access_token" size="60" placeholder="ABCDEF12345"/>
                        </label>
                    </div>
                    <div>
                        <label for="oauth1_access_token_secret" class="control-label">Access Token Secret:
                            <input type="text" class="form-control required" name="oauth1_access_token_secret" data-name="access_token_secret" data-type="connection_properties" id="oauth1_access_token_secret" size="80" placeholder="54321ABCDEF"/>
                        </label>
                    </div>
                    <div>
                        <h5>Signature Method:</h5>
                        <div class="checkbox">
                            <label>
                                <input type="radio" class="required" name="signature_method" data-type="connection_properties" value="HMAC-SHA1" checked="checked"> HMAC-SHA1
                            </label>
                        </div>
                    </div>
                    <div>
                        <label for="oauth1_version" class="control-label">Version:
                            <input type="text" class="form-control" name="oauth1_version" id="oauth1_version" data-name="oauth_version" data-type="connection_properties" placeholder="1.0" value="1.0" />
                        </label>
                    </div>
                </div>
                <div id="auth-oauth2" class="hidden auth">
                    <div>
                        <label for="oauth2_consumer_key" class="control-label">Consumer Key:
                            <input type="text" class="form-control required" name="oauth2_consumer_key" data-name="consumer_key" data-type="connection_properties" id="oauth2_consumer_key" size="60" placeholder="ABCDEF12345"/>
                        </label>
                    </div>
                    <div>
                        <label for="oauth2_consumer_secret" class="control-label">Consumer Secret:
                            <input type="text" class="form-control required" name="oauth2_consumer_secret" data-name="consumer_secret" data-type="connection_properties" id="oauth2_consumer_secret" size="80" placeholder="54321ABCDEF"/>
                        </label>
                    </div>
                    <div>
                        <h5>Token API Authentication Type:</h5>
                        <div class="checkbox">
                            <label>
                                <input type="radio" class="required" name="oauth2_auth_type" data-type="connection_properties" value="basic_bearer" checked="checked"> Basic <em>(Base64 encoded user:password style "Authorization: Bearer" header)</em>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label for="auth_url" class="control-label">Auth URL <em>(or path)</em>:
                            <input type="text" class="form-control required" data-type="connection_properties" name="auth_url" id="auth_url" size="80" placeholder="/oauth2/token"/>
                        </label>
                    </div>
                    <div>
                        <h5>Auth Method:</h5>
                        <div class="checkbox">
                            <label>
                                <input class="required" type="radio" name="auth_method" data-type="connection_properties" value="GET"> GET
                            </label>
                            <label id="auth-method-label">
                                <input class="required" type="radio" name="auth_method" data-type="connection_properties" value="POST"> POST
                            </label>
                        </div>
                    </div>
                    <div class="oauth2_post hidden">
                        <label for="auth_post_data" class="control-label">Auth POST Data:
                            <input type="text" class="form-control" name="auth_post_data" id="auth_post_data" data-type="connection_properties" size="80" placeholder="grant_type=client_credentials&something=else" />
                        </label>
                    </div>
                    <div class="oauth2_post hidden">
                        <label for="auth_post_mime_type" class="control-label">Auth POST Mime Type:
                            <input type="text" class="form-control" name="auth_post_mime_type" id="auth_post_mime_type" data-type="connection_properties" size="80" placeholder="application/x-www-form-urlencoded" value="application/x-www-form-urlencoded" />
                        </label>
                    </div>
                    <div>
                        <h5>Auth Response Type:</h5>
                        <div class="checkbox">
                            <label>
                                <input class="required" type="radio" name="auth_response_type" data-type="connection_properties" value="JSON" checked="checked"> JSON
                            </label>
                        </div>
                    </div>
                    <div>
                        <label for="auth_response_key" class="control-label">Auth Response key:
                            <input type="text" class="form-control required" name="auth_response_key" id="auth_response_key" data-type="connection_properties" size="80" placeholder="access_token"/>
                        </label>
                    </div>
                    <div>
                        <label for="auth_connect_timeout" class="control-label">Auth Connect Timeout:
                            <input type="text" pattern="\d+" class="form-control" name="auth_connect_timeout" id="auth_connect_timeout" data-type="connection_properties" size="10" placeholder="60000"/>
                        </label>
                    </div>
                    <div>
                        <label for="auth_read_timeout" class="control-label">Auth Read Timeout:
                            <input type="text" pattern="\d+" class="form-control" name="auth_read_timeout" id="auth_read_timeout" data-type="connection_properties" size="10" placeholder="120000"/>
                        </label>
                    </div>
                    <div>
                        <label for="auth_timeout" class="control-label">Auth Timeout <em>(how long to preserve auth tokens for in seconds)</em>:
                            <input type="text" pattern="\d+" class="form-control" name="auth_timeout" id="auth_timeout" data-type="connection_properties" size="10" placeholder="3600" value="3600" />
                        </label>
                    </div>
                    <div id="auth-response-validate">
                        <h5><input type="checkbox" id="oauth2_auth_response_validate" name="oauth2_auth_response_validate" data-skip-get="true" data-type="connection_properties" value="1" /> <label for="oauth2_auth_response_validate">Auth Response Validation?</label></h5>
                        <div class="form-group oauth2_auth_response_validate hidden">
                            <label for="oauth2_auth_response_validate_key_1" class="control-label">Key:
                                <input type="text" class="form-control required" data-skip-get="true" name="oauth2_auth_response_validate_key_1" id="oauth2_auth_response_validate_key_1" placeholder="key"/>
                            </label>
                            <label for="oauth2_auth_response_validate_value_1" class="control-label">Value:
                                <input type="text" class="form-control required" data-skip-get="true" name="oauth2_auth_response_validate_value_1" id="oauth2_auth_response_validate_value_1" placeholder="value"/>
                            </label>
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>

                <div class="endpoint hidden">
                    <h5><input type="checkbox" name="query_params" data-skip-get="true" id="query_params" value="1" /> <label for="query_params">Extra Query Parameters?</label></h5>
                    <div class="form-group query_params hidden">
                        <label for="query_params_key_1" class="control-label">Key:
                            <input type="text" class="form-control required" data-skip-get="true" name="query_params_key_1" id="query_params_key_1" placeholder="key"/>
                        </label>
                        <label for="query_params_value_1" class="control-label">Value:
                            <input type="text" class="form-control required" data-skip-get="true" name="query_params_value_1" id="query_params_value_1" placeholder="value"/>
                        </label>
                        <span class="plus">+</span>
                    </div>
                </div>

                <div>
                    <a name="advanced" href="#advanced" id="advanced-link">Advanced &gt;&gt;</a>
                </div>
                <div class="advanced hidden">
                    <h4>Advanced:</h4>
                </div>
                <div class="form-group advanced api hidden">
                    <label for="connect_timeout" class="control-label">Connect Timeout:
                        <input type="text" pattern="\d+" type="text" class="form-control" name="connect_timeout" data-type="connection_properties" id="connect_timeout" size="8" placeholder="60000"/>
                    </label>
                </div>
                <div class="form-group advanced api hidden">
                    <label for="read_timeout" class="control-label">Read Timeout:
                        <input type="text" pattern="\d+" type="text" class="form-control" name="read_timeout" data-type="connection_properties" id="read_timeout" size="8" placeholder="120000"/>
                    </label>
                </div>

                <div class="btn-group submit hidden">
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                    <button id="reset" type="reset" class="btn btn-outline-secondary form-control">Reset</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
<script src="static/js/api.js?v={{ versions['api.js'] }}"></script>
{% endblock %}