{% extends "layout.html" %}

{% set active_page = "api_form" %}

{% block head_extra %}
    <style type="text/css">
        #advanced-link {
            display: inline-block;
            margin-bottom: 5px;
        }
        #auth-method-label, #method-label {
            margin-left: 10px;
        }
        .error {
            color: red;
        }
    </style>

<script src="static/js/util.js?v={{ versions['util.js'] }}"></script>
<link rel="stylesheet" href="static/css/general.css?v={{ versions['general.css'] }}" />

    <script>
        const engines = [
        {% for engine in engines %}
            {
                eid: '{{ engine[0] }}',
                name: '{{ engine[1] }}',
                host: '{{ engine[2] }}',
                port: '{{ engine[3] }}',
                connection_properties: '{{ engine[4] }}'
            },
        {% endfor %}
        ];

    </script>
{% endblock %}

{% block content %}
<div class="row col-xs-10 col-xs-offset-1">
    <h1>Add API</h1>

    <div id="success" class="alert alert-success hidden" role="alert"></div>

    <div class="form-group">
        <h4>Type:</h4>
        <div class="checkbox">
            <label>
                <input type="radio" name="type" value="endpoint"> Endpoint Only
            </label>
            <label>
                <input type="radio" name="type" value="api+endpoint"> API + Endpoint
            </label>
            <label>
                <input type="radio" name="type" value="api"> API Only
            </label>
        </div>
    </div>
    <div class="loading"></div>
    <div id="error" class="alert alert-danger hidden" role="alert"></div>
    <form class="hidden" method="POST">
        <h3>Please fill in the following parameters:</h3>
        <div class="form-group api hidden">
            <label for="name" class="control-label">API Name:
                <input type="text" class="form-control required" name="name" id="name" placeholder="twitter" pattern="[a-zA-Z0-9\-\_]+"/>
            </label>
            <span class="error"></span>
        </div>
        <div class="form-group endpoint not-api hidden">
            <label for="engine_id" class="control-label">API:</label>
            <select name="engine_id" id="engine_id" class="form-control required" style="width: 200px">
                <option value="" selected="selected">Select:</option>
                {% for engine in engines %}
                    {% if engine[4].startswith("REST:") %}
                        <option value="{{ engine[0] }}">{{ engine[1] }} <em>(engine_id: {{ engine[0] }})</em></option>
                    {% endif %}
                {% endfor %}
           </select>
        </div>
        <div class="form-group endpoint hidden">
            <label for="endpoint_name" class="control-label">Endpoint Name:
                <input type="text" class="form-control required" name="endpoint_name" id="endpoint_name" data-name="name" placeholder="tweets" pattern="[a-zA-Z0-9\-\_]+" />
            </label>
        </div>
        <div class="form-group endpoint hidden">
            <label for="url" class="control-label">URL:
                <input type="url" pattern="https?://.+" class="form-control required" name="url" id="url" size="80" placeholder="https://api.twitter.com/1.1/search/tweets.json"/>
            </label>
        </div>
        <div class="form-group api hidden">
            <h4>Method:</h4>
            <div class="checkbox-inline">
                <label>
                    <input type="radio" name="method" data-type="connection_properties" class="required" value="GET"> GET
                </label>
                <label id="method-label">
                    <input type="radio" name="method" data-type="connection_properties" class="required" value="POST"> POST
                </label>
            </div>
        </div>
        <div class="form-group endpoint hidden">
            <label for="result_key" class="control-label">Result Key:
                <input class="form-control" name="result_key" id="result_key" size="80" placeholder="statuses"/>
            </label>
        </div>

        <div class="form-group api hidden">
            <h4>Authentication:</h4>
            <div class="checkbox">
                <label>
                    <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="" checked="checked"> None
                </label>
                <label>
                    <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="basic"> Basic
                </label>
                <label>
                    <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="token"> Token
                </label>
                <label>
                    <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="bearer"> Authorization: Bearer <em>(token)</em>
                </label>
                <label>
                    <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="oauth1"> OAuth1
                </label>
                <label>
                    <input type="radio" name="auth_type" data-type="connection_properties" class="required" value="oauth2"> OAuth2
                </label>
            </div>
        </div>

        <div id="auth-basic" class="hidden auth">
            <div>
                <label for="username" class="control-label">Username:
                    <input class="form-control required" name="username" data-type="connection_properties" id="username" size="20" placeholder="bones"/>
                </label>
            </div>
            <div>
                <label for="password" class="control-label">Password:
                    <input class="form-control required" name="password" data-type="connection_properties" id="password" size="30" placeholder="doghouse"/>
                </label>
            </div>
        </div>
        <div id="auth-token" class="hidden auth">
            <div>
                <label for="token" class="control-label">Token:
                    <input class="form-control required" name="token" data-type="connection_properties" id="token" size="20" placeholder="abcdef12345667890"/>
                </label>
            </div>
            <div>
                <label for="token_key" class="control-label">Token Key:
                    <input class="form-control" name="token_key" data-type="connection_properties" id="token_key" size="30" placeholder="token"/>
                </label>
            </div>
        </div>
        <div id="auth-bearer" class="hidden auth">
            <div>
                <label for="bearer_token" class="control-label">Token:
                    <input class="form-control required" name="bearer_token" data-type="connection_properties"  id="bearer_token" size="20" placeholder="abcdef12345667890"/>
                </label>
            </div>
        </div>
        <div id="auth-oauth1" class="hidden auth">
            <div>
                <label for="oauth1_consumer_key" class="control-label">Consumer Key:
                    <input class="form-control required" name="oauth1_consumer_key" data-name="consumer_key" data-type="connection_properties" id="oauth1_consumer_key" size="60" placeholder="ABCDEF12345"/>
                </label>
            </div>
            <div>
                <label for="oauth1_consumer_secret" class="control-label">Consumer Secret:
                    <input class="form-control required" name="oauth1_consumer_key" data-name="consumer_secret" data-type="connection_properties" id="oauth1_consumer_secret" size="80" placeholder="54321ABCDEF"/>
                </label>
            </div>
            <div>
                <label for="oauth1_access_token" class="control-label">Access Token:
                    <input class="form-control required" name="oauth1_access_token" data-name="access_token" data-type="connection_properties" id="oauth1_access_token" size="60" placeholder="ABCDEF12345"/>
                </label>
            </div>
            <div>
                <label for="oauth1_access_token_secret" class="control-label">Access Token Secret:
                    <input class="form-control required" name="oauth1_access_token_secret" data-name="access_token_secret" data-type="connection_properties" id="oauth1_access_token_secret" size="80" placeholder="54321ABCDEF"/>
                </label>
            </div>
            <div>
                <h5>Signature Method:</h5>
                <div class="checkbox">
                    <label>
                        <input type="radio" class="required" name="signature_method" data-type="connection_properties" value="HMAC-SHA1" checked="checked"> HMAC-SHA1
                    </label>
                </div>
            </div>
            <div>
                <label for="oauth1_version" class="control-label">Version:
                    <input class="form-control" name="oauth1_version" id="oauth1_version" data-name="oauth_version" data-type="connection_properties" placeholder="1.0" value="1.0" />
                </label>
            </div>
        </div>
        <div id="auth-oauth2" class="hidden auth">
            <div>
                <label for="oauth2_consumer_key" class="control-label">Consumer Key:
                    <input class="form-control required" name="oauth2_consumer_key" data-name="consumer_secret" data-type="connection_properties" id="oauth2_consumer_key" size="60" placeholder="ABCDEF12345"/>
                </label>
            </div>
            <div>
                <label for="oauth2_consumer_secret" class="control-label">Consumer Secret:
                    <input class="form-control required" name="oauth2_consumer_secret" data-name="consumer_secret" data-type="connection_properties" id="oauth2_consumer_secret" size="80" placeholder="54321ABCDEF"/>
                </label>
            </div>
            <div>
                <h5>Token API Authentication Type:</h5>
                <div class="checkbox">
                    <label>
                        <input type="radio" class="required" name="oauth2_auth_type" data-type="connection_properties" value="basic_bearer" checked="checked"> Basic <em>(Base64 encoded user:password style "Authorization: Bearer" header)</em>
                    </label>
                </div>
            </div>
            <div>
                <label for="auth_url" class="control-label">Auth URL <em>(or path)</em>:
                    <input class="form-control required" name="auth_url" id="auth_url" size="80" placeholder="access_token"/>
                </label>
            </div>
            <div>
                <h5>Auth Method:</h5>
                <div class="checkbox">
                    <label>
                        <input class="required" type="radio" name="auth_method" data-type="connection_properties" value="GET"> GET
                    </label>
                    <label id="auth-method-label">
                        <input class="required" type="radio" name="auth_method" data-type="connection_properties" value="POST"> POST
                    </label>
                </div>
            </div>
            <div class="oauth2_post hidden">
                <label for="auth_post_data" class="control-label">Auth POST Data:
                    <input class="form-control" name="auth_post_data" id="auth_post_data" data-type="connection_properties" size="80" placeholder="grant_type=client_credentials&something=else" />
                </label>
            </div>
            <div class="oauth2_post hidden">
                <label for="auth_post_mime_type" class="control-label">Auth POST Mime Type:
                    <input class="form-control" name="auth_post_mime_type" id="auth_post_mime_type" data-type="connection_properties" size="80" placeholder="application/x-www-form-urlencoded" value="application/x-www-form-urlencoded" />
                </label>
            </div>
            <div>
                <h5>Auth Response Type:</h5>
                <div class="checkbox">
                    <label>
                        <input class="required" type="radio" name="auth_response_type" data-type="connection_properties" value="JSON" checked="checked"> JSON
                    </label>
                </div>
            </div>
            <div>
                <label for="auth_response_key" class="control-label">Auth Response key:
                    <input class="form-control required" name="auth_response_key" id="auth_response_key" data-type="connection_properties" size="80" placeholder="access_token"/>
                </label>
            </div>
            <div>
                <label for="auth_connect_timeout" class="control-label">Auth Connect Timeout:
                    <input pattern="\d+" class="form-control" name="auth_connect_timeout" id="auth_connect_timeout" data-type="connection_properties" size="10" placeholder="60000"/>
                </label>
            </div>
            <div>
                <label for="auth_read_timeout" class="control-label">Auth Read Timeout:
                    <input pattern="\d+" class="form-control" name="auth_read_timeout" id="auth_read_timeout" data-type="connection_properties" size="10" placeholder="120000"/>
                </label>
            </div>
            <div>
                <label for="auth_timeout" class="control-label">Auth Timeout <em>(how long to preserve auth tokens for)</em>:
                    <input pattern="\d+" class="form-control" name="auth_timeout" id="auth_timeout" data-type="connection_properties" size="10" placeholder="3600" value="3600" />
                </label>
            </div>
            <div id="auth-response-validate">
                <h5><input type="checkbox" id="oauth2_auth_response_validate" name="oauth2_auth_response_validate" data-type="connection_properties" value="1" /> <label for="oauth2_auth_response_validate">Auth Response Validation?</label></h5>
                <div class="form-group oauth2_auth_response_validate hidden">
                    <label for="oauth2_auth_response_validate_key_1" class="control-label">Key:
                        <input type="text" class="form-control required" name="oauth2_auth_response_validate_key_1" id="oauth2_auth_response_validate_key_1" placeholder="key"/>
                    </label>
                    <label for="oauth2_auth_response_validate_value_1" class="control-label">Value:
                        <input type="text" class="form-control required" name="oauth2_auth_response_validate_value_1" id="oauth2_auth_response_validate_value_1" placeholder="value"/>
                    </label>
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </div>
            </div>
        </div>


        <div class="hidden api">
            <a name="advanced" href="#advanced" id="advanced-link">Advanced &gt;&gt;</a>
        </div>
        <div class="advanced hidden">
            <h4>Advanced:</h4>
        </div>
        <div class="advanced hidden">
            <h5><input type="checkbox" name="query_params" id="query_params" data-type="connection_properties" value="1" /> <label for="query_params">Extra Query Parameters?</label></h5>
            <div class="form-group extra-query hidden">
                <label for="query_params_key_1" class="control-label">Key:
                    <input type="text" class="form-control required" name="query_params_key_1" id="query_params_key_1" placeholder="key"/>
                </label>
                <label for="query_params_value_1" class="control-label">Value:
                    <input type="text" class="form-control required" name="query_params_value_1" id="query_params_value_1" placeholder="value"/>
                </label>
                <span class="glyphicon glyphicon-plus-sign"></span>
            </div>
        </div>
        <div class="form-group advanced hidden">
            <label for="connect_timeout" class="control-label">Connect Timeout:
                <input pattern="\d+" type="text" class="form-control" name="connect_timeout" data-type="connection_properties" id="connect_timeout" size="8" placeholder="60000"/>
            </label>
        </div>
        <div class="form-group advanced hidden">
            <label for="read_timeout" class="control-label">Read Timeout:
                <input pattern="\d+" type="text" class="form-control" name="read_timeout" data-type="connection_properties" id="read_timeout" size="8" placeholder="120000"/>
            </label>
        </div>

        <div class="btn-group submit hidden">
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </div>
    </form>
</div>
<script src="static/js/api_form.js?v={{ versions['api_form.js'] }}"></script>
{% endblock %}