{% extends "layout.html" %}

{% set active_page = "catalog" %}

{% block content %}
<div class="row">
  <div class="col-10 offset-1">
    <h1 align="center">Engines</h1>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Engine ID</th>
        <th>Name</th>
        <th>Host</th>
        <th>Port</th>
        <th>Connection Properties</th>
      </tr>
    </thead>
    <tbody>
      {% for engine in engines %}
      <tr>
        <td>{{ engine[0] }}</td>
        <td>{{ engine[1] }}</td>
        <td>{{ engine[2] }}</td>
        <td>{{ engine[3] }}</td>
        <td>{{ engine[4] }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-10 offset-1">
    <h1 align="center">Data Objects</h1>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Object ID</th>
        <th>Table Name</th>
        <th>Contents / Schema</th>
      </tr>
    </thead>
    <tbody>
      {% for object in objects %}
      <tr>
        <td>{{ object[0] }}</td>
        <td>{{ object[1] }}</td>
        <td>{{ object[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>
{% endblock %}
