<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BigDAWG Admin</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/general.css" rel="stylesheet">
      {% block head_extra %}
      {% endblock %}
  </head>
  <body>
      <div class="container">

          <!-- Static navbar -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('status') }}">BigDAWG Admin</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% set navigation_bar = [
                  ('status', 'Cluster Status'),
                  ('catalog', 'Data Catalog'),
                  ('query', 'Query'),
                  ('import_page', 'Import'),
                  ('api', 'API'),
                  ('links', 'Important Links')
              ] -%}

              {% set active_page = active_page|default('status') -%}

                <ul class="navbar-nav mr-auto">
                {% for id, name in navigation_bar %}
                  <li class="nav-item{% if id == active_page %} active{% endif
        %}"><a class="nav-link" href="{{ url_for(id) }}">{{ name }}{% if id == active_page %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                {% endfor %}
                </ul>
              </div><!--/.nav-collapse -->
          </nav>

          <div class="container-fluid">
              {% block content %}
              {% endblock %}
          </div>
      </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
