{% extends "layout.html" %}

{% set active_page = "query" %}

{% block head_extra %}
    <style type="text/css">
        /**
         * some simple stylings
         */
        textarea {
            width: 100%;
            height: 100px;
        }
        .query, .result {
            margin: 20px 0;
            clear: both;
        }
        .result {
            display: none;
        }
        .query label {
            font-weight: normal;
            font-size: 20px;
        }
        .query button {
            margin-top: 10px;
            float: right;
        }
        table {
            border: 1px solid #ccc;
        }
        table caption {
            font-weight: normal;
            font-size: 20px;
            color: black;
        }

        .export-csv {
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }

        .export-csv:hover {
            color: darkblue;
        }

        .export-csv-filename {
            display: none;
            clear: both;
        }

        .loading {
            margin: 75px auto 0;
            display: none;
            width: 50px;
            height: 50px;
            background-color: #c0c0c0;
            border-radius: 25px;
        }

        /**
         * Simple animation written from scratch for the loading spinner
         *  -- probably can be fine tuned some
         */
        @keyframes spin-loader {
            0% { transform: rotate(0deg) translateX(-2px) translateY(-2px); }
            12.5% { transform: rotate(-45deg) translateX(-12.5px) translateY(5px)}
            25% { transform: rotate(-90deg) translateX(-25px) translateY(0px); }
            37.5% { transform: rotate(-135deg) translateX(-30px) translateY(-12.5px) }
            50% { transform: rotate(-180deg) translateX(-25px) translateY(-25px); }
            62.5% { transform: rotate(-225deg) translateX(-12.5px) translateY(-30px) }
            75% { transform: rotate(-270deg) translateX(0px) translateY(-25px); }
            87.5% { transform: rotate(-315deg) translateX(5px) translateY(-12.5px); }
            100% { transform: rotate(-360deg) translateX(0px) translateY(0px); }
        }
        .loading:before {
            content:'';
            width: 27px;
            border: 1px solid white;
            height: 27px;
            border-top-left-radius: 20px;
            background-color: white;
            position: absolute;
            animation-name: spin-loader;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        .loading:after {
            content: '';
            width: 40px;
            margin: 5px 0 0 5px;
            height: 40px;
            position: absolute;
            background-color: white;
            border-radius: 20px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="row col-xs-10 col-xs-offset-1">
  <div class="query">
    <label for="query">Query:</label>
    <textarea id="query" name="query" rows="4"></textarea>
    <button class="btn btn-primary">Run</button>
  </div>
  <div class="loading"></div>
  <div class="result" rows="10">
      <div class="textarea">
          <label for="result">Result:</label>
          <textarea id="result" name="result" readonly="readonly"></textarea>
      </div>
      <div class="table"></div>
  </div>
  <div class="export-csv-filename">
      <form class="form-inline">
          <div class="form-group">
              <label for="csv-filename">CSV Filename:</label> <input type="text" class="form-control" id="csv-filename" name="csv-filename" placeholder="bigdawg_export.csv" />
          </div>
          <button type="submit" class="btn btn-default">Download</button>
      </form>
  </div>
</div>
<script>
    /**
     * A few elements we may need to later manipulate
     */
    const button = document.querySelector('#query ~ button');
    const queryTextarea = document.querySelector('#query');
    const resultTextarea = document.querySelector('#result');
    const resultDiv = document.querySelector('.result');
    const resultTableDiv = document.querySelector('.result .table');
    const resultTextareaDiv = document.querySelector('.result .textarea');
    const loadingDiv = document.querySelector('.loading');
    const exportCSVFilenameDiv = document.querySelector('.export-csv-filename');
    const exportForm = exportCSVFilenameDiv.querySelector('.form-inline');
    exportForm.addEventListener('submit', exportCsvFilenameSubmit);

    let curTable = [];

    // Set the event listener for the button's click
    button.addEventListener('click', query);

    /**
     * The following functions show/hide the loading spinner
     */
    function startLoading() {
        button.disabled = true;
        loadingDiv.style.display = 'block';
    }

    function stopLoading() {
        button.disabled = false;
        loadingDiv.style.display = 'none';
    }

    /**
     * Clears our error and success results
     */
    function clearResults() {
        resultDiv.style.display='none';
        resultTextareaDiv.style.display='none';
        resultTableDiv.style.display='none';
        resultTextarea.value = '';
        resultTableDiv.innerHTML='';
        exportCSVFilenameDiv.style.display='none';
    }

    /**
     * Shows the success response
     */
    function displayResultTable(html) {
        resultTableDiv.innerHTML = html;
        resultTableDiv.style.display='block';
        resultDiv.style.display='block';
        const exportCSVspan = document.querySelector('.export-csv');
        exportCSVspan.addEventListener('click', showDownloadCsv)
    }

    function showDownloadCsv() {
        exportCSVFilenameDiv.style.display ='block';
        const exportCSVspan = document.querySelector('.export-csv');
        exportCSVspan.style.display = 'none';
    }

    function exportCsvFilenameSubmit(e) {
        e.preventDefault();

        const filename = this.querySelector('#csv-filename').value;
        if (!filename) {
            alert("Please input a filename.");
            return;
        }

        const csvContents = createCSV();
        const link = document.createElement('a');
        link.setAttribute('href', encodeURI(csvContents));
        link.setAttribute('download', filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        this.querySelector('#csv-filename').value = '';
        exportCSVFilenameDiv.style.display='none';
        document.querySelector('.export-csv').style.display='inline';
        return false;
    }

    function createCSV() {
        let csv = 'data:text/csv;charset=utf-8,';
        curTable.forEach(columns => {
            const finalColumns = columns.map(function(item) {
                let doubleQuotes = false;
                if (item.match(/"/)) {
                    item = item.replace(/"/, '""');
                    doubleQuotes = true;
                }
                if (item.match(/,/)) {
                    doubleQuotes = true;
                }
                if (doubleQuotes) {
                    return '"' + item + '"';
                }
                return item;
            });

            csv += finalColumns.join(',');
            csv += "\r\n";
        });
        return csv;
    }

    /**
     * Shows an error response in a readonly textarea
     */
    function displayTextarea(text) {
        resultTextareaDiv.style.display='block';
        resultTextarea.value = text;
        resultDiv.style.display='block';
    }

    /**
     * Runs the query in the background, showing a loading spinner
     *
     * Should prevent multiple queries from being run by disabling the run button
     */
    function query() {
        clearResults();
        startLoading();
        const val = queryTextarea.value;
        if (!val) {
          alert("No query passed in");
          return;
        }

        fetch('/run_query', {
            method: 'post',
            headers: {
                "Content-Type": "application/json"
            },
            body: val
        }).then(response => {
            response.text().then(result => {
                stopLoading();
                if (result.match(/\t/)) {
                    const html = resultTable(result);
                    displayResultTable(html);
                    return;
                }
                displayTextarea(result);
            }, response => {
                console.log('error', response);
            });
        });
    }

    /**
     * Creates an html table of the results
     */
    function resultTable(result) {
        const lines = result.split(/\r?\n/);
        let table = '<table class="table table-striped"><caption>Results</caption>';
        const lineColumns = [];
        let maxLength = 0;
        /** find the longest column */
        lines.forEach(line => {
            const columns = line.split(/\t/);
            lineColumns.push(columns);
            if (columns.length > maxLength) {
                maxLength = columns.length;
            }
        });
        curTable = lineColumns;
        lineColumns.forEach(columns => {
            table += '<tr>';
            columns.forEach(column => {
                table += '<td>' + escapeSpecial(column) + '</td>';
            });
            /** if column too short, extend so that things look "right" */
            if (columns.length < maxLength) {
                for(let i = columns.length; i < maxLength; i++) {
                    table += '<td></td>';
                }
            }
            table += '</tr>';
        });
        table += '</table>';
        table += '<span class="export-csv">Export CSV</span>';
        return table;
    }

    /**
     * need to add characters if necessary for valid html
     */
    function escapeSpecial(text) {
        text = text.replace(/&/,'&amp;');
        text = text.replace(/</,'&lt;');
        text = text.replace(/>/,'&gt;');
        return text;
    }
</script>
{% endblock %}
