*.class

target/
installation/Downloads
installation/data

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.log
*~

*pyc

.project
.classpath
.settings

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
.iml
# c++/c object files
*.o
src/main/cmigrator/postgres2scidb
src/main/cmigrator/scidb2postgres


.vagrant
.DS_Store
*.DS_Store

# Docker
provisions/**/istc.bigdawg-1.0-SNAPSHOT-jar-with-dependencies.jar
provisions/**/mimic2_flatfiles.tar.gz
provisions/**/PostgresParserTerms.csv
provisions/**/SciDBParserTerms.csv
provisions/s00318.txt
/bin/
