*.class

target/
installation/Downloads
installation/data

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# D4M jars to include
!graphulo-2.6.3-alldeps.jar #Don't exclude this jar
!accumulo-core-1.7.0.jar  
!accumulo-fate-1.7.0.jar  
!commons-codec-1.7.jar  
!commons-collections-3.2.1.jar  
!commons-collections4-4.0.jar  
!commons-configuration-1.6.jar  
!commons-lang-2.4.jar  
!commons-lang3-3.1.jar  
!commons-logging-1.1.1.jar  
!commons-math3-3.1.1.jar  
!guava-14.0.1.jar  
!hadoop-common-2.2.0.jar  
!htrace-core-3.1.0-incubating.jar  
!htrace-zipkin-3.1.0-incubating.jar  
!libthrift-0.9.1.jar  
!log4j-1.2.16.jar  
!org.json-chargebee-1.0.jar  
!slf4j-api-1.7.5.jar  
!slf4j-log4j12-1.7.5.jar  
!zookeeper-3.4.6.jar  

# Package Files #
*.jar
*.war
*.ear

*.log
*~

*pyc

.project
.classpath
.settings

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
.iml
# c++/c object files
*.o
src/main/cmigrator/postgres2scidb
src/main/cmigrator/scidb2postgres


.vagrant
.DS_Store
*.DS_Store

# Docker
provisions/**/istc.bigdawg-1.0-SNAPSHOT-jar-with-dependencies.jar
provisions/**/mimic2_flatfiles.tar.gz
