CATALOG_DATABASE=bigdawg_catalog
CATALOG_USER=pguser
CATALOG_PASSWORD=test
CATALOG_HOST=bigdawg-postgres-catalog
CATALOG_PORT=5400
SCHEMA_DATABASE=bigdawg_schemas
QUERY_HOST=bigdawg-postgres-catalog
QUERY_PORT=8080
QUERY_SCHEME=http
